server:
  port: 8083

spring:
  application:
    name: profile-service
  datasource:
    url: ${SPRING_DATASOURCE_URL:jdbc:postgresql://postgres:5432/profiledb}
    username: ${SPRING_DATASOURCE_USERNAME:app}
    password: ${SPRING_DATASOURCE_PASSWORD:app}
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false
    properties:
      hibernate:
        jdbc:
          time_zone: UTC
        lob:
          non_contextual_creation: true
  servlet:
    multipart:
      max-file-size: 25MB
      max-request-size: 25MB

management:
  endpoints:
    web:
      exposure:
        include: health,info
